<input
  type="password"
  inputmode="numeric"
  style="width:4vw;height:2vh;margin:10px 0px 0px 10px;text-align:center"
  appSingleDigitInput
/>
<input
  type="password"
  inputmode="numeric"
  style="width:4vw;height:2vh;margin:10px 0px 0px 10px;text-align:center"
  appSingleDigitInput
/>
<input
  type="password"
  inputmode="numeric"
  style="width:4vw;height:2vh;margin:10px 0px 0px 10px;text-align:center"
  appSingleDigitInput
/>
<input
  type="password"
  inputmode="numeric"
  style="width:4vw;height:2vh;margin:10px 0px 0px 10px;text-align:center"
  appSingleDigitInput
/>
